* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.color-primary {
  color: #FFFFFF !important;
}

.color-secondary {
  color: #000000 !important;
}

.titulo-h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 60px;
}

.titulo-h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.titulo-h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.titulo-h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600 !important;
  font-size: 22px;
}

.titulo-nav-menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.texto-cuerpo {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.fadeInprincipal {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn01;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn01 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn01 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .imagen-logo {
    height: 50px;
  }
}